:host /deep/ .input-tag {
  position: relative;
}

:host /deep/.input-tag>label {
  display: block;
  margin: 5px 0;
  font-weight: 600;
  color: #666666;
  font-size: 16px;
}

:host /deep/ .input-tag>input {
  height: 40px;
  color: #858585;
  background-color: #FFF;
  border: 1px solid #D5D5D5;
  width: 100%;
  padding-left: 20px;
  margin: 4px 0;
}

/* :host /deep/ .input-tag>input:last-child {
margin-bottom: 30px;
} */

:host /deep/ .input-tag>input:focus,
input:active {
  border-color: #F59942;
  outline: none;
}

:host /deep/ .input-tag>input .error {
  display: block;
  height: 25px;
  color: red;
}
